@import	url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@font-face {
			font-family: 'Ubuntu';
			src:  url('Ubuntu/Ubuntu-Light.ttf');
		}
h3 {
	font-family: 'Oswald', sans-serif;
}
p {
	font-family:'Roboto Slab', serif;
}
h4 {
	font-family: monospace;
